
.base-info {
  padding-bottom: 40px;
  border-bottom: $border-silver;
  .avatar-wrapper {
    width: 155px;
    height: 155px;
    border-radius: 4px;
  }
  .user {
    border-radius: 50%;
  }
  .content-wrapper {
    width: calc(100% - 155px);
    .up {
      h5{
        font-weight: 300;
        font-size: 15px;
      }
      svg {
        font-size: 21px;
      }
    }
  }
}