.main-header {
  width: 100%;
  height: 90px;
  padding: 15px 18px 0 0;
  &:hover {
    .down {
      .add-sublist {
        span {
          opacity: 1;
        }
      }
    }
  }

  .up {
    padding-left: 24px;
    .left {
      svg {
        cursor: pointer;
        font-size: 12px;
        color: $silver;
        margin-top: 5px;
      }

      .name {
        font-size: 18px;
      }

      .ant-dropdown {
        svg {
          font-size: 25px;
        }
      }
    }

    .right {
      border-left: $border-silver;
      padding-left: 15px;

      i > svg {
        cursor: pointer;
        font-size: 22px;
      }

      .img-wrapper {
        cursor: pointer;
        width: 32px;
        height: 32px;

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .down {
    .tab {
      padding: 7px;
      color: $silver;
      p {
        font-size: 14px;
      }
    }
    .sublist {
      padding: 4px 6px;
      border-radius: 4px;
      height: 28px;
      transform: translateY(-1px);
      .dropdown-icon {
        display: none;
        color: $silver;
        &:hover {
          color: black;
        }
      }
    }

    .ant-tabs-tab-active {
      color: black;
      .tab {
        color: black;
      }
      .dropdown-icon {
        display: block;
      }
    }
    .ant-tabs-nav-wrap {
      padding-left: 10px;
    }
    .ant-tabs-nav {
      margin-top: 7px;
    }
    .disabled-tab {
      cursor: auto;
      .ant-divider-vertical {
        height: 1.6em;
      }
    }

    .add-sublist {
      font-size: 12px;
      border: none;
      height: 80%;
      border-radius: 0;
      svg {
        color: #6b6b6b;
      }
      span {
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
