.main-header {
  width: 100%;
  height: 90px;
  border-bottom: $border-silver;
  padding: 15px 18px 0 18px;

  .up {
    .left {
      svg {
        cursor: pointer;
        font-size: 12px;
        color: $silver;
        margin-top: 5px;
      }

      .name {
        font-size: 18px;
      }

      .ant-dropdown {
        svg {
          font-size: 25px;
        }
      }
    }

    .right {
      border-left: $border-silver;
      padding-left: 15px;

      i > svg {
        cursor: pointer;
        font-size: 22px;
      }

      .img-wrapper {
        cursor: pointer;
        width: 32px;
        height: 32px;

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .down {
    .tab {
      transform: translateY(1px);
      border: none;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      padding: 7px 16px;
      position: relative;
      color: $silver;
      svg {
        display: none;
        opacity: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        position: absolute;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 2px;
        border-radius: 2px;
        background: $brandClr;
        display: none;
      }

      p {
        font-size: 14px;
      }
    }

    .active-tab {
      border: $border-silver;
      border-bottom: none;
      background: white;
      color: black;
        svg {
          display: block;
        }
      &:hover {
        svg {
          opacity: 1;
        }
      }
      &::after {
        display: block;
      }
    }

    .sublist-wrapper {
      border-left: $border-silver;
      height: 70%;
      .add-sublist {
        font-size: 12px;
        border: none;
        svg {
          position: relative;
          display: block;
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }
  }
}