.main-header {
  width: 100%;
  height: 90px;
  border-bottom: $border-silver;
  padding: 15px 18px 0 18px;

  .up {
    .left {
      i > svg {
        cursor: pointer;
        font-size: 12px;
        color: $silver;
      }

      .name {
        font-size: 18px;
      }
    }

    .right {
      border-left: $border-silver;
      padding-left: 15px;
      i > svg {
        cursor: pointer;
        font-size: 22px;
      }
      .img-wrapper {
        cursor: pointer;
        width: 32px;
        height: 32px;

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .down {
    .tab {
      transform: translateY(1px);
      border: none;
      border-bottom: $border-silver;
      border-radius: 4px;
      padding: 5px 10px;
      p{
        font-size: 14px;
      }
    }
    .active-tab {
      border: $border-silver;
      border-bottom: none;
    }
  }
}