.my-modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(#eaeaea, .5);
  z-index: 1000;
  transition: all .4s ease-in-out;
  @include flex(row);
  justify-content: center;
  padding: 30px 0;
  .my-modal-content {
    height: max-content;
    transform: translateY(-100%);
    &>div {
      background: white;
      padding: 20px 25px;
      border-radius: 15px;
    }
    .delete-modal {
      width: 450px;
      height: 271px;
      p, label {
        font-size: 14px;
      }
      .des {
        font-size: 14px;
        color: $silver;
      }
    }
    .sublist-modal {
      width: 690px;
      height: 560px;
    }
  }
}
