.task-page {
  margin: 10px 0 4px 3%;
  height: 100%;
  header {
    width: 80%;
    margin-right: 15%;

    .views-wrapper {
      a {
        border-radius: 14px;
        overflow: hidden;
        cursor: pointer;
        i {
          svg {
            width: 38px;
            height: 38px;
            &:hover {
              #back {
                fill: rgba($brandClr, .3);
              }
            }

            .board-icon-part {
              stroke: #79ab16;
            }

            #board-back {
              transition: all .2s ease-in-out;
            }
          }
        }
      }
    }
  }

  .main-wrapper {
    #common_back {
      background: rgba($brandClr, .16);
      border: none;
      border-top: $border-silver;
      border-bottom: $border-silver;
      border-color: $brandClr;
    }

    .inner-main {
      .tree {
        margin-right: 5%;
        padding: 0 160px 0 120px;
        .tasks-wrapper {
          .single-task {
            user-select: none;
            width: 100%;
            padding: 6px;
            border-bottom: $border-silver;
            border-color: #F0F3F3FF;
            svg {
              color: $silver;
            }

            &:hover {
              background: $sideBarBack;

              .before-list, .after-list, {
                &>*{
                visibility: visible;
                }
              }

              .main-single-task {
                .others {
                  visibility: visible;

                  svg {
                    font-size: 17px;
                  }
                }
              }
            }

            .main-single-task {
              del {
                color: $silver;
              }
              font-size: 15px;
              .others {
                visibility: hidden;
              }
            }

            #common_in_before_n_after {
              top: 50%;
              &>*{
              visibility: hidden;
              }
            }

            .before-list {
              @extend #common_in_before_n_after;
              transform: translate(-100%, -50%);
              left: 0;
              padding-right: 6px;
              .has-priority {
                visibility: visible;
              }
            }

            .after-list {
              @extend #common_in_before_n_after;
              right: 0;
              padding-left: 6px;
              transform: translate(100%, -50%);
            }
          }
          .completed-task {
            .before-list {
              .completed-icon {
                visibility: visible;
              }

            }
          }
        }

        .adding-option {
          p {
            font-size: 13.5px;
            border-bottom: $border-silver;
            border-color: #F0F3F3FF;

            &:hover {
              color: #464646;
            }
          }

          form {
            height: 35px;
            padding: 0 25px;
            @extend #common_back;

            input {
              width: 97%;
              outline: none;
              border: $border-silver;
              border-top: none;
              border-bottom: none;
              border-color: $brandClr;
              border-radius: 4px;
              padding-left: 5px;
              caret-color: $brandClr;
              font-size: 14px;

              &:placeholder-shown {
                color: $laterClr;
                font-style: italic;
              }
            }
          }
        }
      }





      //board start
      .board {
        user-select: none;
        .statuses-wrapper {
          .single-status {
            width: 350px;
            height: 461px;
            border-radius: 6px;
            overflow: hidden;
            &:hover {
              box-shadow: 0 0 0 0 silver;
            }
            .status-head {
              padding: 15px 12px;
              .status-list-length {
                padding: 3px;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #e8e8e8;
              }
            }
            .status-lists-wrapper {
              height: calc(100% - 56px);
              padding: 10px 7px;
              .status-inner-lists {
                .single-list {
                  padding: 10px;
                  border-radius: 4px;
                  height: 85px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.priority-dropdown {
  transform: translateX(-40%);
  svg {
    font-size: 14px;
  }
}