.task-page {
  margin: 10px 5% 20px 3%;

  .main-wrapper {
    padding: 0 160px 0 120px;

    #common_back {
      background: rgba($brandClr, .16);
      border: none;
      border-top: $border-silver;
      border-bottom: $border-silver;
      border-color: $brandClr;
    }

    .inner-main {
      .tree {
        .tasks-wrapper {
          .single-task {
            width: 100%;
            padding: 6px;
            border-bottom: $border-silver;
            border-color: #F0F3F3FF;
            &:hover {
              background: $sideBarBack;
              .before-list, .after-list {
                visibility: visible;
              }
            }
            #common_in_before_n_after {
              top: 50%;
              visibility: hidden;
            }
            .before-list {
              @extend #common_in_before_n_after;
              transform: translate(-100%, -50%);
              left: 0;
              padding-right: 6px;
            }
            .after-list {
              @extend #common_in_before_n_after;
              right: 0;
              padding-left: 6px;
              transform: translate(100%, -50%);
            }
          }
        }
        .adding-option {
          p {
            font-size: 13.5px;
            border-bottom: $border-silver;
            border-color: #F0F3F3FF;
            &:hover {
              color: #464646;
            }
          }

          form {
            height: 35px;
            padding: 0 25px;
            @extend #common_back;
            input {
              width: 97%;
              outline: none;
              border: $border-silver;
              border-top: none;
              border-bottom: none;
              border-color: $brandClr;
              border-radius: 4px;
              padding-left: 5px;
              caret-color: $brandClr;
              font-size: 14px;

              &:placeholder-shown {
                color: $laterClr;
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }
}