.ant-dropdown {
  .ant-dropdown-menu {
    border-radius: 6px;
  }
}


.ant-tabs-ink-bar-animated {
  background: $brandClr;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #505050;
}