$brandClr: #79ab16;
$silver: rgba(0, 0, 0, 0.42);
$avatarClr: #b07fb5;
$silver: rgb(148, 148, 148);
$sideBarBack: #f8f8f8;
$borderClr: rgba(
        $color: $silver,
        $alpha: 0.1,
);
$overdureClr: #eb5e60;
$todayClr: #f8bb32;
$tomorrowClr: #7aa6a6;
$upComingClr: #afcaca;
$laterClr: #f0f3f3;