@import "~bootstrap/scss/bootstrap.scss";
@import "fonts";
@import 'color';
@import 'variables';
@import './mixins/mixin';
@import './pages/login';
@import './components/sidebar';

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $lato;
}