@import "~bootstrap/scss/bootstrap.scss";
@import '~antd/dist/antd.css';
@import "fonts";
@import 'color';
@import 'variables';
@import './mixins/mixin';
@import 'overwrite';
@import './components/header';
@import './components/modal';
@import './components/baseInfo';
@import './pages/login';
@import './components/sidebar';
@import './components/submenu';
@import './pages/overview';
@import './pages/organization';
@import './pages/task.page';
@import './pages/create';

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $lato;
}

.dark-mode-layer {
  transition: all .8s linear;
  clip-path: circle(100px at -10% 100%);
}

.expand-dark-mode {
  clip-path: circle(2000px at -10% 100%);
}