@mixin flex($d) {
  display: flex;
  flex-direction: $d;
}

@mixin button($primary: false) {
  outline: none;
  background: none;
  border-radius: 4px;
  padding: 4px 8px;
  border: $border-silver;
  @if($primary) {
    color: $brandClr;
    border-color: $brandClr;
  } @else {
    color: rgba(0, 0, 0, 0.80);
    border-color: rgba(0, 0, 0, 0.80);
  }
}

@mixin point {
  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $silver;
    top: 50%;
    left: -10px;
    transform: translateY(-10%);
  }
}

@mixin borderBottomStyle {
  border: none;
  border-bottom: $border-silver;
}


@mixin customScrollBar {
  &:hover {
    &::-webkit-scrollbar-thumb {
      opacity: 1;
      visibility: visible;
    }
    &::-webkit-scrollbar-track {
      opacity: 1;
      visibility: visible;
    }
  }
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(230, 230, 230);
    opacity: 0;
    visibility: hidden;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(185, 185, 185);
    border-radius: 18px;
    opacity: 0;
    visibility: hidden;
  }
}